

body {
  background-image: url("https://wallpapercave.com/wp/wp5801997.jpg");

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  padding: 0.5em 1em;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 1.2em;
  background-color: rgb(235, 167, 231);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em black;
  width: 300px;
  height: 60px;
}

.catFact-container {
  display: flex;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,226,232,0.5116421568627452) 0%);
  padding: 6em 4em;
  width: 1000px;
  height: 600px;
  margin: auto;
  text-align: center;
  text-shadow: 0 0 0.5em rgba(0, 151, 88, 0.253);
  border-radius: 30px;
}

.App-header{
  font-size: 100px;
  border-radius: 30px;
  background: rgb(235, 167, 231);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,226,232,0.5116421568627452) 0%);
  text-align: center;
  font-family: Chalkduster, fantasy;
  color: white;
}

.photo{
  width:100px;
  height:100px;

}




/* 
.Chaos-container {
  display: flex;
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,226,232,0.5116421568627452) 0%);
  padding: 6em 4em;
  width: 26em;
  height: 22em;
  margin-right: auto;
  float: right;
  justify-content: center;
  text-shadow: 0 0 0.5em rgba(0, 151, 88, 0.253);
  
}

.catPic-container {
  display: flex;

  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,226,232,0.5116421568627452) 0%);
  width: 26em;
  margin-left: auto;
  float: left;
  justify-content: center;
  text-shadow: 0 0 0.5em rgba(0, 151, 88, 0.253);
} */